# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# Databases
sql_app.db
*.db
*.sqlite

# Editor / IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Misc
.DS_Store
Thumbs.db
log/
logs/
*.log
